.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 100%;
  max-width: 255px;
  margin-top: 34px;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__logo {
    margin-top: 20px;
    max-width: 188px;
  }
}
@media screen and (min-width: 544px) and (max-width: 1024px) {
  .header__logo {
    margin-top: 30px;
  }
}
